PORT=3000
VIP_MODE=strict

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

WA_AUTH_PATH=.wwebjs_auth
WA_TRANSCRIPT_LIMIT=20
WA_INTERNAL_NOTIFY_CHAT_ID=

GEMINI_API_KEY=
GEMINI_MODEL=

JIRA_BASE_URL=
JIRA_EMAIL=
JIRA_API_TOKEN=
JIRA_PROJECT_KEY=
JIRA_ASSIGNEE_Phuc_ID=
JIRA_ASSIGNEE_Tram_ID=
JIRA_ASSIGNEE_Vy_ID=

GMAIL_USER=
GMAIL_APP_PASSWORD=
GMAIL_FROM=
GMAIL_TO=
